* {
    font-family: Helvetica, 'Open Sans', sans-serif;
}

body {
    background-color: #1E202B;
}

/* Start of Navbar */
.navbar {
    background-color: #1E202B;
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 3.125rem;
    --bs-navbar-color: #fff;
    --bs-navbar-hover-color: #fff;
    --bs-navbar-active-color: #11B7DE;
    --bs-navbar-brand-padding-y: 1.25rem;
    --bs-navbar-brand-font-size: 0.875rem;
    --bs-navbar-toggler-padding-y: 1.5rem;
    --bs-navbar-toggler-padding-x: 1.3rem;
    --bs-navbar-toggler-icon-bg: ;
    --bs-navbar-toggler-border-color: transparent;
    --bs-navbar-toggler-border-radius: 50%;
    --bs-navbar-toggler-focus-width: 0;
    --bs-navbar-toggler-transition: all 0.5s ease;
    --bs-border-width: 0.15rem;
}

.navbar img {
    width: 60px;
    height: fit-content;
}

.navbar small {
    color: #bfc1c8;
    font-size: 10px;
    line-height: 15px;
}

.navbar .navbar-toggler::after {
    content: "";
    width: 20px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 40%;
    left: 50;
    transition: background-color 0.5s ease;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
}

.navbar .navbar-toggler span {
    width: 20px;
    height: 2px;
    background-color: #fff;
    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
}

.navbar .navbar-toggler::before {
    content: "";
    width: 20px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 60%;
    left: 50;
    transition: background-color 0.5s ease;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
}

.navbar .navbar-toggler:hover::before,
.navbar .navbar-toggler:hover::after,
.navbar .navbar-toggler:hover span {
    background-color: #11B7DE;
}

.navbar .navbar-toggler:hover {
    --bs-navbar-toggler-border-color: #11b7de;
}

.navbar .nav-link {
    --bs-nav-link-padding-x: 1.25rem;
    --bs-nav-link-padding-y: 1.25rem;
    font-size: 15px;
    background: #262936;
    border: #343743 1px solid;
    transition: color 0.5s ease, border 0.5s ease;
    -webkit-transition: color 0.5s ease, border 0.5s ease;
    -moz-transition: color 0.5s ease, border 0.5s ease;
    -ms-transition: color 0.5s ease, border 0.5s ease;
    -o-transition: color 0.5s ease, border 0.5s ease;
}


/* End of Navbar */

/* Start of Header */
.header {
    background-image: url(./../images/imgi_7_banner.png);
    background-size: cover;
    min-height: 350px;
}

.form-control.input-custom {
    padding: 20px 50px 20px 20px;
    font-size: 14px;
    --bs-body-color: #bfc1c8;
    --bs-body-bg: #1E202B;
    border-radius: 30px;
}

input.input-custom::placeholder {
    color: #bfc1c8;
    opacity: 1;
}

.form-control:focus {
    border-color: transparent;
    box-shadow: none;
}

.input-group .btn-custom {
    --bs-btn-padding-x: 40px;
    --bs-btn-padding-y: 0;
    --bs-btn-font-size: 14px;
    --bs-btn-color: #fff;
    --bs-btn-bg: #009AD8;
    --bs-btn-border-radius: 30px;
    position: absolute;
    right: 4px;
    top: 4px;
    height: 87%;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-btn-bg);
    --bs-btn-hover-border-color: transparent;
    z-index: 999;
}

.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3),
.input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-control,
.input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-select,
.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

/* End of Header */

/* Start of Weather Data */
.weather-data #col2 .card-body {
    background-color: #262936;
}

.weather-data #col2 .card .card-header {
    background-color: #222530;
}

.weather-data .card-header.card-date {
    color: #BFC1C8;
    font-size: 14px;
    line-height: 21px;
    background-color: #2D303D;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    text-align: center;
}

.weather-data #col1 .card-header {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.weather-data #col3 .card-header {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.weather-data #col3 .card-body {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.weather-data .card-body {
    background-color: #323544;
    color: #BFC1C8;
    height: 280px;
    text-align: center;
}

.weather-data .card-body p {
    font-size: 18px;
    line-height: 27px;
}

.weather-data .card-body h2 {
    font-size: 30px;
    line-height: 90px;
}

.weather-data .card-body h2 span {
    font-size: 20px;
    top: -0.8em;
    position: relative;
}

.weather-data #col1 img.unhide-img {
    display: none;
}

.weather-data #col1 img.hide-img {
    width: 80px;
    height: 80px;
}

.weather-data .card-body h3 span {
    font-size: 18px;
    top: -0.8em;
    position: relative;
}

.weather-data .card-body p:not(:first-child) {
    color: #009AD8;
}

.weather-data .weather {
    margin-top: -150px;
}

.weather-data #col1 ul {
    display: flex;
}

.weather-data #col2 ul,
.weather-data #col3 ul {
    display: none;
}

.weather-data #col2 .hide-img,
.weather-data #col3 .hide-img {
    display: none;
}

.weather-data #col1 .card-body {
    text-align: start;
}

.weather-data #col1 .card-header.card-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.weather-data #col2 .date,
.weather-data #col3 .date {
    display: none;
}

.weather-data #col2 p:first-child,
.weather-data #col3 p:first-child {
    display: none;
}

.weather-data #col1 h3 {
    display: none;
}

.weather-data #col1 h3 {
    display: none;
}

.weather-data #col1 .card-body h2 {
    font-size: 60px;
    line-height: 80px;
}

.weather-data #col1 .card-body h2 span {
    font-size: 30px;
    top: -0.8em;
    position: relative;
}

/* End of Weather Data */

/* Start of Footer */
.footer {
    background-color: #262936;
}

.footer ul li div {
    width: 40px;
    height: 40px;
    background-color: #1E202B;
    color: #009AD8;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    cursor: pointer;
}

.footer ul li div:hover {
    background-color: #009AD8;
    color: #fff;
}

.footer p {
    color: #BFC1C8;
    font-size: 14px;
    line-height: 21px;
}

/* End of Footer */